{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1 id="about-us-title" class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger">
        SOS Hotline in India
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>National Mental Health Helplin</h4>Contact Number: 1800-599-0019 <br><a
                    class="link-info text-decoration-none" href="https://www.nimhans.ac.in/helpline"
                    target="_blank">nimhans.ac.in/helpline</a>
            </li>
            <li class="list-group-item">
                <h4>AASRA Helpline</h4>Contact Number: 9820466726 <br><a class="link-info text-decoration-none"
                    href="https://aasra.info/" target="_blank">aasra.info</a>
            </li>
            <li class="list-group-item">
                <h4> iCall Helpline</h4>
                Contact Number: 91-9821090210<br>
                <a class="link-info text-decoration-none" href="https://icallhelpline.org/" target="_blank">
                    icallhelpline.org
                </a>
            </li>
            <li class="list-group-item">
                <h4>Relate</h4>
                Contact Number: N/A<br>
                <a class="link-info text-decoration-none" href="https://relate.com.my"
                    target="_blank">https://relate.com.my</a>
            </li>
            <li class="list-group-item">
                <h4>Fortis Stress Helpline
                </h4>
                Contact Number: 83768-00300 (24/7, nationwide)<br>
                <a class="link-info text-decoration-none" href="https://www.fortishealthcare.com/india/stress-helpline"
                    target="_blank"> fortishealthcare.com/india/stress-helpline </a>
            </li>
        </ul>
    </div>
</div>
{%endblock content%}